
.leaflet-geocoder {
    padding: 5px;
    background-color: white;
    height: 23px;
}

.leaflet-geocoder-input {
    border: 1px solid #e4e8f1;
    margin-right: 3px;
	float: left;
}

.leaflet-geocoder-search {
    padding-top: 3px;
	float: left;
}

.leaflet-geocoder-toggle-on {
	display: none;
}

.leaflet-geocoder-results {
      position: absolute;
      list-style: none;
      background-color: white;
      top: 35px;
      margin: 0px;
      padding: 0px;
      min-width: 250px;
}

.leaflet-geocoder-results li {
  overflow: hidden;
  height: 15px;
  border-bottom: 1px solid #d8d6d6;
  padding: 2px 2px 2px 4px;
}

 	