/* styles for event detail content only */
:host {
  display: flex;
  flex-flow: row wrap;
}

/* Header */
header {
  flex: 1 100%;
}
div.event-meta {
  margin: auto 25px auto auto;
  font-size: 0.56em;
}

label {
  font-weight: 600;
}

div.event-meta .event-start-datetime,
div.event-meta .event-location {
  margin: 20px;
}

div.event-meta .event-start-datetime::before {
  content: " ";
  background: url('../../assets/img/event-datetime.png');
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  vertical-align: bottom;
}

div.event-meta .event-location::before {
  content: " ";
  background-image: url('../../assets/img/event-location.png');
  display: inline-block;
  width: 15px;
  height: 18px;
  margin-right: 7px;
  vertical-align: bottom;
}
/* End - Header */

/* Body */
article {
  flex: 2 0;
  border-right: 1px solid #e4e8f1;
  /*position: absolute;
  bottom: 0;
  top: 173px;
  height: auto;
  width: 100%;*/
}

/* Content */
div.event-content {
  flex: 3 0;
  display: flex;
  border-bottom: 1px solid #e4e8f1;
}

div.event-image {
  display: flex;
  width: 200px;
  height: 200px;
  border-right: 1px solid #e4e8f1;
}

div.event-image img {
  display: inline-block;
  margin: auto;
}

div.event-details {
  flex: 2 0;
  margin: 32px 48px;
}

div.event-tickets-header {
  display: flex;
  flex-grow: 1 100%;
  border-bottom: 1px solid #e4e8f1;
}

div.event-tickets-header .heading {
  font-weight:100;
  font-size:1.33em;
  margin: 25px;
}

div.event-tickets-header .ticket-filter {
  margin: 25px 25px 25px auto;
}

div.event-ticket-row label,
div.event-ticket-row button {
  text-transform: uppercase;
}

aside { /* map */
  flex: 1 auto;
  align-self: stretch;
  background: lightblue;
  overflow: hidden;
}

/* Map
div.event-map {
  flex: 1 auto;
  margin-left: auto;
  width: 20%;
  background: lightblue;
  align-self: stretch;
  min-height: 300px;
}
*/
