/* styles for event detail content only */
:host {
  color: #292c35;
}

/* Header */
div.event-meta {
  margin: auto 25px auto auto;
  font-size: 0.56em;
}

label {
  font-weight: 600;
}

div.event-meta .event-start-datetime,
div.event-meta .event-location {
  margin: 20px;
}

div.event-meta .event-start-datetime::before {
  content: " ";
  background: url('../../assets/img/event-datetime.svg');
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  vertical-align: bottom;
}

div.event-meta .event-location::before {
  content: " ";
  background-image: url('../../assets/img/event-location.svg');
  display: inline-block;
  width: 15px;
  height: 18px;
  margin-right: 7px;
  vertical-align: bottom;
}
/* End - Header */

/* Body */
leaflet-map {
  position: relative;
  height: 600px;
  margin: 24px;
  width: calc(100% - 48px);
}
@media screen and (min-width: 1092px) {
  article {
    width: 70%;
  }

  leaflet-map {
    position: absolute;
    margin: 0;
    top: 163px;
    right: 0;
    bottom: 0;
    width: 30%;
    height: auto;
    border-left: 1px solid #e4e8f1;
  }
}

/* Content */
div.event-content {
  flex: 3 0;
  display: flex;
  border-bottom: 1px solid #e4e8f1;
}

div.event-image {
  display: flex;
  width: 200px;
  height: 200px;
  border-right: 1px solid #e4e8f1;
}

div.event-image img {
  display: inline-block;
  margin: auto;
}

div.event-details {
  flex: 2 0;
  margin: 32px 48px;
  font-size: 0.68em;
  line-height: 2em;
}


div.event-details .event-description {
  font-size: 0.99em;
  color: #b6b6b6;
  margin: 6px 0;
}


div.event-tickets-header {
  display: flex;
  flex-grow: 1 100%;
  border-bottom: 1px solid #e4e8f1;
}

div.event-tickets-header .heading {
  font-weight:100;
  font-size:1.33em;
  margin: 25px;
}

div.event-tickets-header .ticket-filter {
  margin: 36px 25px 25px auto;
  color: #b3b3b3;
  font-size: 0.68em;
}

div.event-ticket-row {
  display: flex;
  font-size: 0.68em;
  line-height: 2em;
}

div.event-ticket-row > div > button,
div.event-ticket-row > div > input {
  margin-right: 13px;
}

div.event-ticket-row input[type=number] {
  padding: 10px 6px 10px 10px;
  text-align: right;
  -moz-appearance: number-input;
  border: 1px solid #e4e8f1;
}

input[type=number]::-webkit-inner-spin-button {
  margin: 0;
  margin-left: 6px;
  height: 30px;
}

div.event-ticket-row label,
div.event-ticket-row button {
  text-transform: uppercase;
}

div.event-ticket-details {
  margin: 25px;
}

div.event-ticket-buy {
  margin: auto;
}

div.event-ticket-buy button {
  background-color: #ef494d;
  padding: 10px 18px;
  color: white;
  font-weight: 600;
  border: 1px solid #e4e8f1;
}

div.event-ticket-buy button:hover {
  background-color: #292c35;
  font-weight:900;
  cursor: pointer;
}

div.event-ticket-refund {
  margin: auto 25px auto auto;
}

div.event-ticket-refund button {
  background: white;
  border: 1px solid #e4e8f1;
  padding: 10px 18px;
  color: #292c35;
  font-weight: 600;
}

div.event-ticket-refund button:hover {
  background-color: #292c35;
  color: white;
  font-weight:900;
  cursor: pointer;
}
